.distributed_content {
  .distributed_header {
    display: flex;
    .distributed_title {
      font-size: 0.16rem;
      width: 1.5rem;
      text-align: center;
    }
  }
  .distributed_box {
    display: flex;
    .distributed_steps {
      width: 1.5rem;
      .distributed_step {
        width: 0.5rem;
        height: 0.5rem;
        margin: auto;
        border-radius: 50%;
        text-align: center;
        font-size: 0.16rem;
        color: #242424;
        display: flex;
        align-items: center;
        line-height: 1;
        padding: 0 0.08rem;
        position: relative;
        background: #bfbfbf;
        margin-bottom: 0.66rem;
        margin-top: 0.24rem;
        cursor: pointer;
      }
      .distributed_step:last-child:after {
        width: 0.15rem;
        height: 0.55rem;
        content: '';
        background: url('~@assets/images/step.png');
        background-repeat: repeat-y;
        position: absolute;
        bottom: 0.55rem;
        left: 0.17rem;
      }
      .distributed_step:nth-of-type(even)::before {
        content: '';
        width: 0.15rem;
        height: 0.55rem;
        background: url('~@assets/images/step.png');
        background-repeat: repeat-y;
        position: absolute;
        bottom: 0.55rem;
        right: 0.17rem;
      }
    }
    .image_cropping_legend {
      display: flex;
      justify-content: space-around;
      & > div {
        position: relative;
        font-size: 0.16rem;
      }

      & > div::after {
        content: '';
        width: 0.15rem;
        height: 0.15rem;
        border-radius: 50%;
        position: absolute;
        left: -0.2rem;
        top: 50%;
        transform: translateY(-50%);
      }
      & > div:nth-of-type(even)::after {
        background: #f7e88e;
      }
      & > div:last-child::after {
        background: #00ffff;
      }
      & > div:first-child::after {
        background: #bfbfbf;
      }
    }
  }
}
@keyframes steps {
  from {
    background-position-y: 0rem;
  }
  to {
    background-position-y: 0.49rem;
  }
}
.accomplish:last-child::after {
  animation: steps 1s infinite linear;
}
.accomplish:nth-of-type(even)::before {
  animation: steps 1s infinite linear;
}
.Doing{
  background:#f7e88e !important;
}
.Done{
  background:#00ffff !important;
}