.maptools {
  position: fixed;
  z-index: 9999;
  top: 1.07rem;
  right: 0 /* 2/100 */;
  background: rgba(27, 49, 87, 1);
  opacity: 0.9;
}
.maptool {
  float: left;
  width: 0.6rem /* 50/100 */;
  height: 0.57rem /* 50/100 */;
  text-align: center;
  color: white;
  position: relative;
  transition: all .4s;
  &:hover {
    cursor: pointer;
    color: #00f6ff;
  }
  .iconfont {
    font-size: 0.25rem /* 20/100 */;
  }
  &.maptoolactive {
    .iconfont {
      color: #00f6ff;
    }
    .maptoolText {
      color: #00f6ff;
    }
  }
  &:nth-child(even)::after {
    content: '';
    background: url('~@assets/images/tool-border-left.png');
    width: 0.03rem;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:nth-child(even)::before {
    content: '';
    background: url('~@assets/images/tool-border-left.png');
    width: 0.03rem;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-repeat: no-repeat;
    background-position: center;
  }
  &:last-child::after {
    background: none;
  }
}
.maptoolText {
  text-align: center;
  margin-top: -0.04rem;
}

.dropdown {
  z-index: 1000000 !important;
}
.menu {
  background: rgba(27, 49, 87, 1);
  opacity: 0.9;
  a {
    color: white;
  }
  li:hover {
    background: rgba(27, 49, 87, 1);
    a {
      color: #00f6ff;
    }
  }
}
.weather {
  width: 2.6rem;
  height: 0.5rem /* 50/100 */;
  padding: 0.1rem /* 10/100 */;
}
