.details_content {
    width: 6.8rem;
  display: flex;
  flex-wrap: wrap;
  .details_item {
    width: 3.4rem;
    display: flex;

    .details_key {
      padding: 0.075rem 0.01rem;
      width: 1.7rem;
      font-size: 0.16rem;
      text-align: right;
      overflow: hidden;
    }
    .details_value {
      padding: 0.075rem 0.01rem;
      width: 1.7rem;
      font-size: 0.16rem;
      text-align: left;
      overflow: hidden;
    }
  }
}
